<?xml version='1.0' encoding='utf-8'?>
<widget id="com.yarnstudio.yarn" version="1.0.3"
        xmlns="http://www.w3.org/ns/widgets"
        xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Yarn Studio</name>
    <description>
        A gaming platform for playing and creating interactive fiction.
    </description>
    <author email="mathieu.sylvain@yarnstudio.io" href="http://yarnstudio.io">
        Yarn Studio
    </author>
    <content src="phonegap-build/public/index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <access origin="http://phonegap.com" subdomains="true" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <engine name="ios" spec="~4.1.1" />
    <preference name="Fullscreen" value="true" />
    <preference name="DisallowOverscroll" value="true"/>
</widget>
