/*

Light Theme - For light backgrounds and dark text.

*/
.theme-light {
    player {
        background-color: #fff;
    }

    md-toolbar.toolbar {

        background-color: rgba(255, 255, 255, 0.5) !important;

        md-icon {
            color: #000 !important;
        }
    }

    wallpaper {
        padding: 10px;
        .mask {
            background-color: rgba(255, 255, 255, 0.2);
        }
    }

    story-log {
        log-item .logItem {
            color: #000 !important;
            text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.5);

            a {
                color: #333 !important;
                text-shadow: 1px 1px 3px rgba(255, 255, 255, 1);
            }

            &:hover {
                a {
                    text-decoration: underline;
                    &:focus,
                    &:hover {
                        color: #000 !important;
                        top: -1px;
                    }
                }

            }
        }
    }

    user-choice {
        .question {
            color: #000;
            text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.6);
        }
        button {
            color: #000 !important;
            background-color: rgba(255, 255, 255, 0.6) !important;

            md-icon {
                color: #000 !important;
            }
        }
    }

}

