<md-toolbar class="toolbar">
    <div class="md-toolbar-tools">
        <div
            flex="30"
            layout="row"
            layout-align="start center">
            <md-button
                    ng-click="openSidenav()"
                    class="md-icon-button">
                <md-icon md-svg-icon="/svg-icons/menu.svg"></md-icon>
            </md-button>
        </div>
        <div flex="40"
             layout="row"
             layout-align="center center">
            <md-icon flex="100" style="width: auto; height: 1.4em;" md-svg-icon="/svg-icons/logo-name-small-white.svg"></md-icon>
        </div>
        <div flex="30"
             layout="row"
             layout-align="end center">
            <span flex="90"></span>
            <span flex
                  layout="row"
                  layout-align="end center"
                  ng-if="username">
                <md-menu flex md-position-mode="target-right target">
                    <md-button
                            style="min-width: 0; padding: 0;"
                            ng-click="$mdOpenMenu($event)"
                            class="md-raised"
                            aria-label="Profile menu">
                        <img ng-src="{{ avatar }}"
                             alt="{{ username }}"
                             class="avatar">
                    </md-button>
                    <md-menu-content width="4">
                        <md-menu-item>
                            <span>{{ username }}</span>
                            <img ng-src="{{ avatar }}"
                                 alt="{{ username }}"
                                 class="avatar">
                        </md-menu-item>
                        <md-divider></md-divider>
                        <md-menu-item>
                            <md-button ng-click="logout()">
                                <md-icon md-svg-icon="/svg-icons/logout.svg"></md-icon>
                                Logout
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </span>
            <span flex="100"
                  layout="row"
                  layout-align="end center"
                  ng-if="!username">
                <md-button ng-href="/auth/twitter">
                    Login
                    <md-icon md-svg-icon="/svg-icons/twitter.svg"></md-icon>
                </md-button>
            </span>
        </div>
    </div>
</md-toolbar>
<md-sidenav style="z-index:100" class="md-sidenav-left md-whiteframe-z2" md-component-id="leftSidebar">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-button ng-click="closeSidenav()" class="md-icon-button">
                <md-icon md-svg-icon="/svg-icons/close.svg"></md-icon>
            </md-button>
            <h2>Menu</h2>
        </div>
    </md-toolbar>
    <md-content layout-padding>
        <md-menu-item>
            <md-button ng-click="openAboutPrototypeDialog()">
                <md-icon md-svg-icon="/svg-icons/question.svg"></md-icon>
                <span>About this prototype</span>
                <span class="versionNumber">- v{{ metadata.version }}</span>
            </md-button>
        </md-menu-item>
        <md-divider></md-divider>
        <md-menu-item>
            <md-button ng-href="#/editor" aria-label="Editor Mode">
                <md-icon md-svg-icon="/svg-icons/editor.svg"></md-icon>
                Editor Mode
            </md-button>
        </md-menu-item>
        <md-menu-item>
            <md-button ng-href="http://www.yarnstudio.io/yarnscript-language/" target="_blank">
                <md-icon md-svg-icon="/svg-icons/documentation.svg"></md-icon>
                Author Documentation
            </md-button>
        </md-menu-item>
        <md-divider></md-divider>
        <md-menu-item>
            <md-button ng-href="http://www.yarnstudio.io/" target="_blank">
                <md-icon md-svg-icon="/svg-icons/blog.svg"></md-icon>
                News and Development Blog
            </md-button>
        </md-menu-item>
        <md-menu-item>
            <md-button ng-href="https://twitter.com/YarnStudioGames" target="_blank">
                <md-icon md-svg-icon="/svg-icons/twitter.svg"></md-icon>
                Follow Us on Twitter
            </md-button>
        </md-menu-item>
    </md-content>
</md-sidenav>
<md-content style="z-index:5" flex _flex="100" _layout="row">
    <md-content flex="100" layout="column">
        <div layout="row" flex="100" class="player">
            <div class="main-ui" flex="100">
                <scenery></scenery>
                <story-log></story-log>
                <user-choice
                        ng-show="game.question"
                        on-choose="game.choose(value)"
                        question="game.question"
                        options="game.options"
                ></user-choice>
                <!--<div class="ellipsis">-->
                <!--<span class="one">▸</span>-->
                <!--<span class="two">▸</span>-->
                <!--<span class="three">▸</span>-->
                <!--​</div>-->
                <splash visible="true" metadata="metadata"></splash>
            </div>
        </div>
    </md-content>
</md-content>
