<md-toolbar style="height:80px" class="consoleToolbar md-menu-toolbar" layout="row">
    <div flex="100" layout="row">
        <md-toolbar-filler layout layout-align="center center">
            <md-icon md-svg-icon="/svg-icons/console.svg"></md-icon>
        </md-toolbar-filler>
        <div flex="100">
            <h2 class="md-toolbar-tools"><span command>Console</span></h2>
            <md-menu-bar>
                <md-menu>
                    <button ng-click="$mdOpenMenu()">
                        Options
                    </button>
                    <md-menu-content>
                        <md-menu-item>
                            <md-button ng-click="toolbar.clearConsole()">
                                Clear
                                <span class="md-alt-text"> {{ 'M-K' | keyboardShortcut }}</span>
                            </md-button>
                        </md-menu-item>
                        <md-divider></md-divider>
                        <md-menu-item>
                            <md-button ng-click="toolbar.hideConsole()">
                                Close
                                <span class="md-alt-text"> {{ 'M-Esc' | keyboardShortcut }}</span>
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </md-menu-bar>
        </div>
        <div flex>
            <md-button class="md-icon-button" ng-click="toolbar.hideConsole()" aria-label="Close console">
                <md-icon md-svg-icon="/svg-icons/close.svg"></md-icon>
            </md-button>
        </div>
    </div>
</md-toolbar>
