<div class="console" layout="row" flex="100">
    <div class="console"
         md-whiteframe="10"
         layout="column"
         flex="grow">
        <md-content flex="100"
                    scrollbars>
            <logscroll>
                <logs></logs>
            </logscroll>
        </md-content>
        <user-input
                layout="row"
                style="min-height: 58px;"
                text=""
                on-escape-focus="console.onInputEscapeFocus()"
                on-focus="console.onInputFocus()"
                on-submit="console.onInput(text)">
        </user-input>
    </div>
    <div class="commands-tray"
         layout="column">
        <md-content flex>
            <md-list flex>
                <md-list-item ng-repeat="command in console.commands.all"
                >
                    <md-button aria-label="{{command.name}}"
                               ng-click="console.runCommand(command)"
                               ng-bind="command.name"></md-button>
                </md-list-item>
                </md-button></md-list>
        </md-content>
    </div>
</div>