<div class="console" layout="row" flex="100">
    <div class="console-inner"
         md-whiteframe="10"
         layout="column"
         flex="grow"
         ng-if="console.isReady"
    >
        <div console-main
             flex="grow"
             id="yarn-console"
             layout="column"
             NOPE_ng-scrollbars
             NOPE_ng-scrollbars-update=console.updateScrollbar
             NOPE_ng-scrollbars-config="console.scrollbarsConfig"
        >
            <logscroll
                    flex="grow"
                    layout-fill>
                <logs>
                    <log ng-repeat="line in console.lines"
                         line="::line"></log>
                </logs>
            </logscroll>
        </div>
        <user-input
                layout="row"
                text="console.text"
                on-escape-focus="console.onInputEscapeFocus()"
                on-focus="console.onInputFocus()"
                on-submit="console.onInput(text)">
        </user-input>
    </div>
    <div class="commands-tray"
         layout="column">
        <md-content flex>
            <md-list flex>
                <md-list-item ng-repeat="command in console.commands.all"
                >
                    <md-button aria-label="{{::command.name}}"
                               ng-click="console.runCommand(command)">{{::command.name }}
                    </md-button>
                </md-list-item>
                </md-button></md-list>
        </md-content>
    </div>
</div>