<div layout="column"
     layout-align="top center"
     class="context-action-menu"
     ng-class="{ 'is-visible' : menu.visible }">
    <div layout="row" layout-align="center center">
        <md-button
                class="md-fab is-size-small"
                ng-click="$event.preventDefault(); menu.close();"
                aria-label="action.name"
        >
            <md-icon md-svg-icon="/svg-icons/close.svg"></md-icon>
        </md-button>
        <md-button
                ng-repeat="action in menu.actions"
                class="md-fab"
                ng-class="{
                    'is-size-small': action.iconSize === 'small'
                }"
                ng-click="$event.preventDefault(); menu.choose(action);"
                ng-mouseover="menu.mouseover(action)"
                ng-mouseout="menu.mouseout(action)"
                aria-label="action.name"
        >
            <md-icon
                    ng-if="action.icon"
                    md-svg-icon="/svg-icons/{{ action.icon }}.svg">
            </md-icon>
        </md-button>
    </div>
    <div class="label">
        <span ng-bind="menu.label || ' '"></span>
    </div>


</div>