<md-toolbar
        style="height:80px"
        class="editorToolbar md-menu-toolbar"
        layout="row">
    <div flex="100" layout="row">
        <md-toolbar-filler layout
                           layout-align="center center"
                           ng-click="toolbar.IDE.openFromStorage()">
            <md-icon md-svg-icon="/svg-icons/storyFile.svg"></md-icon>
        </md-toolbar-filler>
        <div flex="100">
            <h2 class="md-toolbar-tools">Story Editor</h2>
            <md-menu-bar>
                <md-menu>
                    <button ng-click="$mdOpenMenu()">
                        Files
                    </button>
                    <md-menu-content>
                        <md-menu-item>
                            <md-button ng-click="toolbar.IDE.openFromStorage()">
                                Open...
                                <span class="md-alt-text"> {{ 'M-O' | keyboardShortcut }}</span>
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
                <md-menu>
                    <button ng-click="$mdOpenMenu()">
                        Story
                    </button>
                    <md-menu-content>
                        <md-menu-item>
                            <md-button ng-click="toolbar.IDE.saveAndRun()">
                                Save and Run
                                <span class="md-alt-text"> {{ 'M-Enter' | keyboardShortcut }}</span>
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="toolbar.IDE.save()">
                                Save
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="toolbar.IDE.run()">
                                Run
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
                <md-menu>
                    <button ng-click="$mdOpenMenu()">
                        Tools
                    </button>
                    <md-menu-content>
                        <md-menu-item class="md-indent">
                            <md-icon md-svg-icon="/svg-icons/assertions.svg"></md-icon>
                            <md-button ng-click="toolbar.openAssertionBrowser()">
                                Assertion Browser
                                <span class="md-alt-text"> {{ 'M-B' | keyboardShortcut }}</span>
                            </md-button>
                        </md-menu-item>
                        <md-menu-item class="md-indent">
                            <md-icon md-svg-icon="/svg-icons/commands.svg"></md-icon>
                            <md-button ng-click="IDE.focusConsole()">
                                Commands
                                <span class="md-alt-text"> {{ 'M-M' | keyboardShortcut }}</span>
                            </md-button>
                        </md-menu-item>
                        <md-menu-item class="md-indent">
                            <md-icon md-svg-icon="/svg-icons/predicates.svg"></md-icon>
                            <md-button ng-click="IDE.focusInspector()">
                                Inspector
                                <span class="md-alt-text"> {{ 'M-I' | keyboardShortcut }}</span>
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
                <md-menu>
                    <button ng-click="$mdOpenMenu()">
                        Options
                    </button>
                    <md-menu-content>
                        <md-menu-item>
                            <md-button ng-click="toolbar.hideConsole()">
                                Close
                                <span class="md-alt-text"> {{ 'M-Esc' | keyboardShortcut }}</span>
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </md-menu-bar>
        </div>
        <div flex="1">
            <md-button class="md-icon-button" ng-click="toolbar.hideConsole()" aria-label="Close console">
                <md-icon md-svg-icon="/svg-icons/close.svg"></md-icon>
            </md-button>
        </div>
    </div>

</md-toolbar>
