<div class="log {{ line.isNewStep ? 'isNewStep' : '' }}  is-{{ ::line.type }}">
    <span class='step'>#{{::line.step }}</span>
    <span class='timestamp'>{{::time }}</span>
    <span class='text' ng-bind-html="::_text2html"></span>
    <span ng-if="::source"
          ng-click="goToSource(source)"
          class="source">
        [<span class="url">
                {{::source.file }}
                <span class="line">:{{::source.line }}</span>
                <md-tooltip md-direction="left">{{::source.uri }}</md-tooltip>
            </span>]
    </span>
</div>