<md-sidenav style="z-index:1000" class="md-sidenav-left md-whiteframe-z2" md-component-id="leftSidebar">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-button
                ng-click="sidebar.close()"
                class="md-icon-button"
                aria-label="Close menu">
                <md-icon md-svg-icon="/svg-icons/close.svg"></md-icon>
            </md-button>
            <h2>Menu</h2>
        </div>
    </md-toolbar>
    <md-content layout-padding>
        <md-menu-item>
            <md-button ng-click="openAboutPrototypeDialog()">
                <md-icon md-svg-icon="/svg-icons/question.svg"></md-icon>
                <span>About this prototype</span>
                <span class="versionNumber">- v{{ metadata.version }}</span>
            </md-button>
        </md-menu-item>
        <md-divider></md-divider>
        <md-menu-item>
            <md-button ng-href="#/editor" aria-label="Editor Mode">
                <md-icon md-svg-icon="/svg-icons/editor.svg"></md-icon>
                Yarn Editor
            </md-button>
        </md-menu-item>
        <md-divider></md-divider>
        <md-menu-item>
            <md-button ng-href="http://www.yarnstudio.io/" target="_blank">
                <md-icon md-svg-icon="/svg-icons/blog.svg"></md-icon>
                News and Development Blog
            </md-button>
        </md-menu-item>
        <md-menu-item>
            <md-button ng-href="https://twitter.com/YarnStudioGames" target="_blank">
                <md-icon md-svg-icon="/svg-icons/twitter.svg"></md-icon>
                Follow Us on Twitter
            </md-button>
        </md-menu-item>
    </md-content>
</md-sidenav>
