<md-toolbar class="statusBar" ng-show="allStatuses.length > 0">
    <div class="md-toolbar-tools">
        <div
                flex="grow"
                layout="row"
                layout-align="center center">
            <md-button
                    ng-repeat="status in allStatuses"
                    ng-click="click(status)">
                <md-icon ng-if="status.icon"
                         md-svg-icon="/svg-icons/status/{{ status.icon }}.svg">
                </md-icon>
                <span ng-if="!status.icon">{{ status.name }} :&nbsp;</span>
                <span>{{ status.value }}</span>
                <md-tooltip md-direction="top">{{ status.name }}</md-tooltip>
            </md-button>
        </div>
        <!--
        <div flex="shring"
             layout="row"
             layout-align="end end">
            <md-button class="md-icon-button" ng-click="toggle()" aria-label="Toggle status tray">
                <md-icon md-svg-icon="/svg-icons/dotMenu.svg"></md-icon>
            </md-button>
        </div>
        -->
    </div>
</md-toolbar>
