<div class="project-tool" flex="grow" layout="row">
    <md-content flex="40" class="list-of-folders" md-whiteframe="10">
        <md-button class="md-fab md-mini" ng-click="storageFiles.refresh()" aria-label="Refresh">
            <md-icon md-svg-icon="/svg-icons/refresh.svg"></md-icon>
        </md-button>
        <div ng-repeat="profile in storageFiles.profiles._all | orderBy : 'priority' : true">
            <section>
                <md-subheader class="md-primary">
                    <img alt="{{ profile.shortUsername }}" ng-src="{{ profile.twitterProfile.profile_image_url | biggerProfileImage }}" class="avatar" />
                    {{ profile.shortUsername }}
                </md-subheader>
            </section>
            <md-list>
                <md-list-item ng-class="{
                                  selected: (storageFiles.selectedStorage === profile.storage &&
                                  storageFiles.selectedFolder === null)
                              }"
                              ng-click="storageFiles.selectProfile(profile); storageFiles.openProjectFolder(null)">
                    BROWSE ALL PROJECTS
                </md-list-item>
                <md-list-item ng-repeat="folder in profile.storage.projectFolders"
                              ng-class="{selected: (storageFiles.selectedFolder === folder)}"
                              ng-click="storageFiles.selectProfile(profile); storageFiles.openProjectFolder(folder)">
                    <md-icon md-svg-icon="/svg-icons/project.svg"></md-icon>
                    <p>
                        {{:: folder.name }}
                    </p>
                </md-list-item>
                <md-list-item ng-if="profile.username === storageFiles.profiles.authenticated().username"
                              ui-sref="storageFiles.createNewProject()">
                    <md-icon md-svg-icon="/svg-icons/add.svg"></md-icon>
                    <p>
                        Create a new project...
                    </p>
                </md-list-item>
            </md-list>
        </div>
    </md-content>
    <div class="storageFiles"
         md-whiteframe="10"
         flex="60"
         layout="column">
        <header layout="row"
                md-whiteframe="4">
            <div flex="grow">
                <md-input-container flex="grow"
                                    md-no-float
                                    class="md-block">
                    <md-icon md-svg-src="/svg-icons/search.svg"></md-icon>
                    <input ng-model="storageFiles.search"
                           type="text"
                           autocomplete="off"
                           placeholder="Enter search term">

                </md-input-container>
            </div>
            <div flex="noshrink"
                 ng-if="storageFiles.storage.isLoading"
                 layout="row"
                 layout-align="center center"
                 style="min-width:50px"
            >
                <md-progress-circular md-mode="indeterminate" md-diameter="30"></md-progress-circular>
            </div>
            <div flex="auto" style="white-space: nowrap;" ng-if="!storageFiles.storage.isLoading">
                <!--
                <div ng-if="storageFiles.storage.files.length === 0">
                    You have no no files in storage!
                </div>
                -->
                <span ng-if="storageFiles.selectedStorage.files.length > 0 && storageFiles.selection.length === 0">
                    <md-button ng-click="storageFiles.selectAll()">Select all
                    </md-button>
                </span>
                <span ng-if="storageFiles.selection.length > 0">
                    <md-button ng-click="storageFiles.deleteSelection($event)">
                        Delete {{ storageFiles.selection.length }} files
                    </md-button>
                    <md-button ng-click="storageFiles.unselectAll()">Unselect</md-button>
                </span>
            </div>
        </header>
        <md-content flex="grow">
            <section ng-repeat="directory in storageFiles.directories">
                <md-subheader ng-if=":: directory.matches"
                              class="md-primary">
                    <md-icon md-svg-icon="/svg-icons/folder.svg"></md-icon>
                    /&nbsp;{{:: directory.uri }}
                </md-subheader>
                <md-list ng-if=":: directory.matches"
                         class="list-of-files">
                    <md-list-item class="noright md-with-secondary"
                                  ng-if=":: directory.files.length > 0"
                                  ng-click="storageFiles.select({file: file})"
                                  ng-repeat="file in directory.files | filter: { filterOut: false }">
                        <md-icon md-svg-icon="/svg-icons/storyFile.svg"></md-icon>
                        <p>
                            <span class="filename">{{:: file._filename }}</span>
                            <span class="filesize">{{:: file._sizeInKB }}kb</span>
                        </p>
                        <md-checkbox class="md-secondary"
                                     ng-click="storageFiles.updateSelection()"
                                     ng-model="file.isSelected"
                                     aria-label="Select">
                        </md-checkbox>
                    </md-list-item>
                </md-list>
            </section>
        </md-content>
    </div>
</div>
