<md-toolbar class="toolbar">
    <div class="md-toolbar-tools">
        <div
            flex="30"
            layout="row"
            layout-align="start center">
            <md-button
                    ng-click="toolbar.openSidebar()"
                    class="md-icon-button"
                    aria-label="Open menu">
                <md-icon md-svg-icon="/svg-icons/menu.svg"></md-icon>
            </md-button>
            <md-menu flex="1" md-position-mode="target">
                <md-button
                        style="min-width: 0; padding: 0;"
                        ng-click="$mdOpenMenu($event)"
                        class="md-icon-button"
                        aria-label="Story menu">
                    <md-icon md-svg-icon="/svg-icons/story.svg"></md-icon>
                </md-button>
                <md-menu-content width="6">
                    <md-toolbar>
                        <div class="md-toolbar-tools">
                            <div>
                                <md-icon style="height: 50px; width: 32px; margin-right: 10px;"
                                         md-svg-icon="/svg-icons/story.svg"></md-icon>
                            </div>
                            <h2>
                                <span>Story Menu</span>
                            </h2>
                            <span flex></span>
                        </div>
                    </md-toolbar>
                    <md-menu-item>
                        <md-button ng-click="toolbar.restartStory()">
                            <md-icon md-svg-icon="/svg-icons/restart.svg"></md-icon>
                            <span>Restart</span>
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>

        </div>
        <div flex="40"
             layout="row"
             layout-align="center center">
            <md-icon flex="100" style="width: auto; height: 1.4em;"
                     md-svg-icon="/svg-icons/logo-name-small-white.svg"></md-icon>
        </div>
        <div flex="30"
             layout="row"
             layout-align="end center">
            <span layout="row"
                  layout-align="end center"
                  ng-if="username">
                <md-menu flex="1" md-position-mode="target-right target">
                    <md-button
                            style="min-width: 0; padding: 0;"
                            ng-click="$mdOpenMenu($event)"
                            class="md-raised"
                            aria-label="Profile menu">
                        <img ng-src="{{ avatar }}"
                             alt="{{ username }}"
                             class="avatar">
                    </md-button>
                    <md-menu-content width="4">
                        <md-menu-item>
                            <span>{{ username }}</span>
                            <img ng-src="{{ avatar }}"
                                 alt="{{ username }}"
                                 class="avatar">
                        </md-menu-item>
                        <md-divider></md-divider>
                        <md-menu-item>
                            <md-button ng-click="toolbar.logout()">
                                <md-icon md-svg-icon="/svg-icons/logout.svg"></md-icon>
                                Logout
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </span>
            <span layout="row"
                  layout-align="end center"
                  ng-if="!username">
                <md-button ng-click="toolbar.login()">
                    Login
                    <md-icon md-svg-icon="/svg-icons/twitter.svg"></md-icon>
                </md-button>
            </span>
        </div>
    </div>
</md-toolbar>
