
assertion-browser-grid {
    font-size: 0.8em;
    display: block;
    position: relative;

    .grid {
        border: none;
        overflow: hidden;
    }


    .ui-grid-header-cell-wrapper {
        height: inherit !important;
    }
}

