
assertion-grid {
    font-size: 0.8em;
    display: block;
    position: relative;

    .grid {
        border: none;
        min-width: 100%;

        //overflow: hidden;

        .ui-grid-top-panel {
            background: #445ABC;
        }

        .ui-grid-menu-button {
            background: none;
            border: none;
            color: #fff;
        }
        .ui-grid-header {
            color: #fff;
            .ui-grid-header-cell-wrapper {
                height: inherit !important;
                .ui-grid-header-cell-wrapper {
                    border: none;
                    color: #fff;
                }
            }
        }
        .ui-grid-cell-contents {
            padding: 0.3em 0.5em;
        }

    }



}

