code {
    display: block;
    white-space: normal;

    .code-inner {
        border: 1px solid #DDD;
        padding: 0.4em;
        background: #fff;

        .ace_editor {
            padding: 0.2em;
            background: #fff;
        }
    }
}
