
.console {
    overflow: hidden;
    display: block;
    position: relative;
    z-index: 1000;
    font-size: 1em;
    font-weight: 400;

    .mCSB_container_wrapper {
        margin-right: 0;
        .mCSB_container {
            padding-right: 0;
        }
    }

    .console-inner {
        overflow: hidden;
        display: block;
        position: relative;
        z-index: 1000;
        font-size: 1em;
        font-weight: 400;
    }

    .commands-tray {
        background: #006d00;
        width: 10em;

        md-list-item {
            color: #fff;
            min-height: 0;
            .md-button {
                min-height: 0;
                text-transform: none;
                text-align: left;
                margin: 0;
                padding: 0 1em;
                min-width: 0;
                width: 100%;
                line-height: 2em;
            }
        }
    }

    .console-inner {
        //background-color: transparent !important;
        background-color: #333 !important;
    }

    logscroll {
    }

    logs {
        display: block;
        margin-top: 1em;
        margin-bottom: 1em;

        padding-bottom: 80px;

        .log {
            display: block;
            position: relative;

            margin: 0;
            padding: 0.15em 1.5em 0.25em 7em;
            color: #dddddd;

            &:hover {
                //background-color: #444 !important;
                background-color: #222 !important;
            }

            &.isNewStep {
                border-top: 2px solid rgba(255, 255, 255, 0.1);
                //box-shadow: inset 0 26px 19px -22px rgba(0,0,0,0.17);
            }

            &:nth-child(even) {
                //background-color: rgba(255, 255, 255, 0.02);
            }
            &:nth-child(odd) {
                //background-color: rgba(0, 3, 99, 0.05);
            }

            a:visited,
            a:link,
            a {
                color: inherit;
                text-decoration: underline;
            }
            strong {
                font-weight: 800;
            }

            .timestamp {
                position: absolute;
                left: 0.25em;
                font-weight: normal;
                font-style: normal;
                font-size: 1em;
                color: rgba(255, 255, 255, 0.3);
            }
            .step {
                position: absolute;
                left: 2em;
                font-weight: normal;
                font-style: normal;
                font-size: 1em;
                color: rgba(255, 255, 255, 0.3);
                padding-left: 1em;
            }
            &:hover .timestamp,
            &:hover .step {
                color: rgba(255, 255, 255, 0.6);
            }

            log-icon {
                position: absolute;
                font-size: 1em;
                left: 5.7em;
                top: 0;
                span {
                    position: relative;
                    display: block;
                }
            }

            &.is-log {
                font-weight: 400;
            }
            &.is-tip {
                font-weight: 400;
                log-icon span,
                strong {
                    color: #496eeb;
                }
                log-icon span {
                    font-size: 1.2em;
                    top: 0.1em;
                    color: #496eeb;
                }
            }
            &.is-error {
                color: #dc4f4d;
            }
            &.is-warning {
                color: #b08e00;
            }
            &.is-success {
                log-icon span {
                    font-style: normal;
                    font-size: 0.9em;
                    top: 0.4em;
                    color: #298d14;
                }
            }
            &.is-transaction {
                log-icon span {
                    font-style: normal;
                    font-size: 1.2em;
                    top: 0;
                    color: #6d6c69;
                }
            }
            &.is-command {
                font-weight: bold;
                font-style: italic;
                [command] {
                    //color: #1b7b1b !important;
                }
                log-icon span {
                    font-style: normal;
                    font-size: 0.8em;
                    top: 0.5em;
                    color: #1b7b1b;
                }
            }
            &.is-debug {
            }

            .source {
                text-decoration: underline;
                color: #496eeb;
                cursor: pointer;
            }

            .assertion {
                font-size: 0.9em;
                font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;
                .predicate {
                    color: #a4a4a4;
                }
                .object,
                .subject {
                    cursor: pointer;
                    color: #496eeb;
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }
                .value {
                    color: #48bc06;
                }
                .layer {
                    color: #696969;
                }
            }
        }

    }

}
