
.console {
    display: block;
    position: relative;
    z-index: 1000;
    font-size: 1em;
    font-weight: 400;
    min-height: 60px;

    .commands-tray {
        background: #006d00;
        width: 8em;

        md-list-item {
            color: #fff;
            min-height: 0;
            .md-button {
                min-height: 0;
                text-transform: none;
                text-align: left;
                margin: 0;
                padding: 0 1em;
                min-width: 0;
                width: 100%;
                line-height: 2em;
            }
        }
    }

    md-content {
        background-color: transparent !important;
    }

    logscroll {
    }

    logs {
        display: block;
        margin-top: 1em;
        margin-bottom: 1em;

        log {
            display: block;
            position: relative;

            margin: 0;
            padding: 0.2em 1.5em 0.2em 1.5em;
            color: #333;

            &.isNewStep {
                margin-top: 0.5em;
                padding-top: 1em;
                border-top: 1px solid rgba(0, 0, 0, 0.2);
                box-shadow: inset 0px 26px 19px -22px rgba(0,0,0,0.17);
            }

            &:nth-child(even) {
                //background-color: rgba(255, 255, 255, 0.02);
            }
            &:nth-child(odd) {
                background-color: rgba(0, 3, 99, 0.05);
            }

            a:visited,
            a:link,
            a {
                color: inherit;
                text-decoration: underline;
            }
            strong {
                font-weight: 800;
            }

            .timestamp {
                font-weight: normal;
                font-style: normal;
                float: right;
                font-size: 0.9em;
                color: rgba(0, 0, 0, 0.4);
            }
            .step {
                font-weight: normal;
                font-style: normal;
                float: right;
                font-size: 0.9em;
                color: rgba(0, 0, 0, 0.4);
                padding-left: 1em;
            }

            log-icon {
                position: absolute;
                font-size: 0.7em;
                left: 0.3em;
                top: 0.7em;
            }

            &.is-log {
                font-weight: 400;
            }
            &.is-tip {
                font-weight: 400;
                log-icon,
                strong {
                    color: #6666CC;
                }
                log-icon {
                    font-size: 1.2em;
                    left: 0.3em;
                    top: 0.1em;
                    color: #6666CC;
                }
            }
            &.is-error {
                letter-spacing: 0.06em;
                color: #CC3333;
            }
            &.is-warning {
                letter-spacing: 0.06em;
                color: #b08e00;
            }
            &.is-success {
                color: #29b829;
            }
            &.is-command {
                font-weight: bold;
                font-style: italic;
                color: #1b7b1b;
                [command] {
                    color: #1b7b1b !important;
                }
                log-icon {
                    font-style: normal;
                    font-size: 0.8em;
                    left: 0.3em;
                    top: 0.75em;
                    color: #1b7b1b;
                }
            }
            &.is-debug {
            }

            .truthStatement {
                opacity: 0.5;
            }
        }

    }

}
