editor-tabs {

    md-tab-content {
        transition: none !important;
    }

    md-tabs {
        background-color: #eaeaea;
        .md-tab {
            text-transform: none;
            font-size: 0.8em;
            margin-left: 0;
            margin-right: 0;
            padding-left: 1em;
            padding-right: 1em;
        }
    }
}