md-toolbar.editorToolbar {

    h2 {
        padding: 10px 20px !important;
    }
    .md-toolbar-tools {
        padding: 0;
    }

    md-menu-bar {
        padding-left: 12px;
    }
    button {
        text-transform: none;
        height: 34px !important;
        //font-size: 0.9em;
        span {
            //padding: 0 0.3em;
        }
    }

}

