md-toolbar.helpToolbar {
    background: #005500;
    color: #fff;

    min-height: 70px;

    h2 {
        font-size: 1.4em !important;
        padding: 10px 20px !important;
    }

    md-toolbar-filler {
        background: #004400;
        width: 90px;
        md-icon {
            width: 32px;
            height: 32px;
        }
    }

    .md-toolbar-tools {
        padding: 0;
    }

    md-menu-bar {
        padding-left: 12px;
    }
    button {
        color: #fff;
        md-icon {
            color: #fff;
        }
        text-transform: none;
        height: 34px !important;
    }
    .md-open button {
        color: #000;
    }

    .close-button {
        position: relative;
        top: 0.3em;
        md-icon {
            height: 18px;
            color: rgba(255, 255, 255, 0.4);

            &:hover {
                color: rgba(255, 255, 255, 1);
            }
        }
    }


}

