.inspector {

    md-fab-speed-dial {
        top: -8px;
        right: 20px;
        bottom: auto;
        left: auto;
        position: absolute;
        width: 48px;
        height: 48px;
        .md-button {
            width: 48px;
            height: 48px;
            background: #fff !important;
            md-icon {
                color: #000;
            }
        }
    }

    h2 {
        font-weight: normal;
        margin: 0;
        padding: 0.6em 0.6em 0.6em 1em;
        font-size: 1.4em;
        background: #445ABC;
        color: #fff;
    }

    articles {
        display: block;
        position: relative;

        article {
            position: relative;
            display: block;
            padding-bottom: 0;
            background: #fff;

            section {
                position: relative;
                display: block;
                margin: 0.5em 0.5em 0.25em 1.5em;
                padding-bottom: 0.25em;
            }


            h3 {
                background: rgb(236, 236, 236);
                font-weight: normal;
                margin: 0;
                padding: 0.6em 0.6em 0.6em 1.5em;
                font-size: 1em;

                md-icon {
                    svg {
                        color: #fff;
                        fill: #fff;
                    }
                    height: 2em;
                    margin-right: 0.5em;
                }
            }
            ul {
                margin-top: 0.5em;
                margin-bottom: 0.5em;
                padding-left: 1.2em;

                li {
                    list-style-type: square;

                    a:visited,
                    a:link {
                        text-decoration: none;

                    }
                }
            }

            .subHeading {
                position: relative;
                top: 0.5em;
                float: right;
                margin-right: 1em;
                font-size: 0.9em;
                font-weight: 400;
                margin-left: 1em;
                color: rgba(255, 255, 255, 0.6);
            }
        }
    }
}