@import "vars.less";

.logItem {

    padding: 6px 20px;
    margin: 0.5em 5em;
    color: #fff;

    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);

    a:visited,
    a:link,
    a {
        color: #ff9;
        text-decoration: none;
        font-weight: 400;
    }
    strong {
        //color: #987;
        font-weight: 600;
    }

    .isMobileWidth & {
        margin-right: 0.2em !important;
        margin-left: 0.2em !important;
    }

    &.is-log {
        .fadeIn();
        font-size: 1.1em;
        .isMobileWidth & {
            margin: 0.5em 0.2em !important;
        }
        margin: 1em 3em;
        font-weight: 300;
        text-align: center;
        //color: #765;

    }
    &.is-error {
        .fadeOut();
        font-size: 0.9em;
        letter-spacing: 0.06em;
        margin: 1em 3em;
        font-weight: 300;
        text-align: center;
        font-style: italic;
        //color: #a98;
    }
    &.is-heading {
        font-size: 2em;
        .isMobileWidth & {
            margin: 0.2em 0.25em;
        }
        font-weight: 200;
        text-align: center;
        //color: #654;
    }
    &.is-subHeading {
        font-size: 1.3em;
        .isMobileWidth & {
            margin: 0.2em 0.25em;
        }
        font-weight: 200;
        text-align: center;
        //color: #876;
    }
    &.is-divider {
        font-size: 1.3em;
        margin: 1.5em 5em;
        .isMobileWidth & {
            margin: 0.25em 5em;
        }
        font-weight: bold;
        text-align: center;
        //color: #876;
        opacity: 0.4;

        .divider svg {
            width: 160px;
            path {
                fill: #fff;
            }
        }
    }
    &.is-thingImage {
        font-size: 1.3em;
        margin: 1.5em 5em;
        text-align: center;

        .isMobileWidth & {
            margin: 0.25em 5em;
        }

        img {
            .defaultShadow();
            width: 5em;
            height: 5em;
            border-radius: 50%;
            border: none;
            background: #fff;
        }
    }
}


.fadeOut {

    opacity: 1;
    animation: fadingOut 2s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    overflow: hidden;

    @keyframes fadingOut {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
            height: 0;
            margin: 0;
            padding: 0;
        }
    }

}

.fadeIn {

    opacity: 1;
    animation: fadingIn 2s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    overflow: hidden;

    @keyframes fadingIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

}