.logItem {

    padding: 6px 20px;
    margin: 0 0 0 0;

    &.is-log {
        font-size: 1.1em;
        padding: 1.2em 3em;
        font-family: serif;
        font-weight: light;
        text-align: center;
        color: #765;
    }
    &.is-heading {
        font-size: 2em;
        margin: 1em 5em;
        font-family: serif;
        font-weight: bold;
        text-align: center;
        color: #654;
        border-collapse: coll
    }
    &.is-subHeading {
        font-size: 1.3em;
        margin: 1em 5em 1.2em 5em;
        font-family: serif;
        font-weight: normal;
        text-align: center;
        color: #876;
    }
    &.is-divider {
        font-size: 1.3em;
        margin: 1.2em 5em;
        font-family: serif;
        font-weight: bold;
        text-align: center;
        color: #876;
        opacity: 0.4;
    }
    &.is-debug {
        font-size: 0.7em;
        background: #e0f8e0;
        border-bottom: 1px dotted rgba(0, 0, 0, 0.07);
    }
}

