/* Import CSS from vendors */
@import (inline) "../../../bower_components/angular-material/angular-material.css";
@import (inline) "../../../bower_components/angular-material/angular-material.layouts.css";
@import (inline) "../../../bower_components/angular-hotkeys/src/hotkeys.css";
@import (inline) "../../../bower_components/perfect-scrollbar/css/perfect-scrollbar.min.css";
@import (inline) "../../../bower_components/angular-ui-grid/ui-grid.css";
@import (inline) "../../../bower_components/hover/css/hover-min.css";

@font-face {
    font-family: 'ui-grid';
    src: url('../fonts/ui-grid/ui-grid.eot');
    src: url('../fonts/ui-grid/ui-grid.eot#iefix') format('embedded-opentype'),
    url('../fonts/ui-grid/ui-grid.woff') format('woff'),
    url('../fonts/ui-grid/ui-grid.ttf') format('truetype'),
    url('../fonts/ui-grid/ui-grid.svg?#ui-grid') format('svg');
    font-weight: normal;
    font-style: normal;
}

@import "vars.less";
@import "global.less";


md-toolbar {
    .md-toolbar-tools {
        font-size: 1em;
    }
    font-size: 1em;
    .md-menu {
        font-size: 1em;
    }
}
textarea,
md-content,
.md-button {
    font-size: 1em;
}

md-checkbox.md-checked .md-ink-ripple {
    color: #445ABC;
    .md-icon {
        background-color: #445ABC;

    }

}
md-list-item._md-button-wrap > .md-button:first-child ._md-list-item-inner {
    height: auto !important;
    min-height: 30px !important;
}

html body md-menu-content {
    padding: 0;
}
// Otherwise all icons endup white!
//html body md-toolbar:not(.md-menu-toolbar) md-icon {
//    fill: inherit !important;
//}



