player {

    height: 100%;
    background-color: #000;
    width: 100%;
    min-width: 350px;
    overflow: visible;

    .player {
        z-index:5;
        position: relative;
        // These few rules are there to prevent
        // a weird behavior from the disapearing
        // toolbar when scrolling down
        transform: none !important;
        margin-bottom: 0 !important;
        margin-top: 0 !important;
    }
    md-content {
        background-color: transparent !important;
    }

    .ps-scrollbar-y-rail {
        margin-top: 70px;
    }

    .player-footer {
        height: 220px;
    }

    .readyness {
        max-width: 35em;

        md-icon {
            fill: #fff;
        }

        text-align: center;

        md-icon {
            width: 60px;
            height: 60px;
            fill: rgba(255, 255, 255, 0.63);
        }

        .message {
            font-size: 1.2em;
            color: rgb(255, 255, 255);
        }

        md-list {
            md-list-item {
                button {
                    width: 100%;
                    color: #fff;
                    text-align: center;
                    border: 1px solid rgba(255, 255, 255, 0.6);
                }
                a {
                    width: 100%;
                    color: #fff;
                    text-align: center;
                    border: 1px solid rgba(255, 255, 255, 0.6);
                }
            }
        }

        .profile-info {
            img {
                width: 100px;
                border-radius: 50%;
                box-shadow: 0 9px 19px 0 rgba(0, 0, 0, 0.26);
            }
            h3 {
                color: #fff;
                font-weight: 200;
                font-size: 1.7em;
                margin-bottom: 1em;
            }
        }
    }
}