.project-tool {

    .list-of-folders {
        background: #006D00;
        overflow-x: hidden;
        z-index: 100;
        color: #fff;

        .count {
            color: rgba(255, 255, 255, 0.8);
            font-size: 1.1em;
            padding-right: 0.5em;
        }
    }

    .storageFiles {
        z-index: 200;
    }

}