scenery {
    display: block;
    position: fixed;
    height: 100vh;
    width: 100vw;
    padding: 0;
    background-repeat: no-repeat;
    background-position: center center;

    //background-attachment: fixed;

    background-size: auto 100%;
    -webkit-background-size: auto 100%;
    -moz-background-size: auto 100%;
    -o-background-size: auto 100%;

    filter: blur(8px);
    -webkit-filter: blur(8px);
    -moz-filter: blur(8px);
    -o-filter: blur(8px);
    z-index: -1;
}
