scenery {
    display: block;
    position: fixed;
    top: -100px;
    left: -100px;
    height: 100%;
    width: 100%;
    margin: 100px;
    padding: 0px;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    -webkit-filter: blur(8px);
    z-index: 100;
}
