splash {
    position: fixed;
    top: 0;
    left: 0;
    height: 1px;
    width: 1px;
    overflow: visible;
    z-index: 9999;

    .splash {
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 50vw;

        z-index: 9999;

        .splash-bg {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;

            background: #000 url('../images/splash/splash-bg.png');
            background-size: cover;
            filter: blur(3px);
            -webkit-filter: blur(3px);
            -moz-filter: blur(3px);
            -o-filter: blur(3px);

        }
        .splash-mask {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;

            background: rgba(0, 0, 0, 0.6);

        }

        .splash-content {
            position: absolute;
            width: 100%;
            top: 50vh;
            margin-top: -25vh;

            text-align: center;
            font-size: 1em;
            color: #fff;

            &.ng-hide {
                -webkit-transition: all ease-out 0.4s;
                transition: all ease-out 0.4s;
                margin-top: -35vh;
            }

            .splash-logo {
                width: 40vw;
                max-width: 253px;
            }
        }

        &.ng-hide {
            -webkit-transition: all ease-out 0.4s;
            transition: all ease-out 0.4s;
            opacity: 0;
        }
    }
}