story-log {
    position: relative;
    display: block;
}
.story-log {
    position: relative;
    display: block;
    padding: 20px 20px 20px 20px;
    margin: 0 auto 0 auto;
    font-size: 1em;
    max-width: 44em;
}
