story-log {
    position: relative;
    display: block;
}
.story-log {
    position: relative;
    display: block;
    padding: 20px 20px 20px 20px;
    margin: 0 auto 0 auto;
    font-size: 1em;
    max-width: 44em;
}

@media only screen
and (max-width : 320px){
    .story-log {
        font-size: 0.8em;
    }
}

@media only screen
and (min-width : 320px){
    .story-log {
        font-size: 0.85em;
    }
}

@media only screen
and (min-width : 414px){
    .story-log {
        font-size: 0.9em;
    }
}

@media only screen
and (min-width : 720px){
    .story-log {
        font-size: 1em;
    }
}

