.storageFiles {

    background: #fff;
    max-width: 80em;

    md-input-container {
        margin: 0.5em 1em;
    }

    md-list {
        md-list-item {
            min-height: 36px;

            &:nth-child(4) {
                background-color: rgba(0, 3, 99, 0.05);
            }

            .md-list-item-inner {
                min-height: 36px;


                button {
                    min-height: 36px;
                }

                md-icon:first-child {
                    margin: 0 16px 0 0 !important;
                }
            }
        }
    }

}