
.md-open-menu-container {

    md-menu-content {
        padding: 0 !important;
    }

}

md-tooltip {
    font-size: 0.9em !important;
    background: #fff;
    color: #000;
    border-radius: 1em;
    border: 1px solid #BBB;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    z-index: 800;
    padding: 0.4em 0.7em;
    ._md-content {
        padding: 0;
        background: none;
        height: auto;
        line-height: inherit;
    }

}

