.logItem {
    .thing {
        display: inline-block;
        /*
        &.selected {
            margin-bottom: 0;
            animation: ThingSelect 0.4s;
            animation-delay: 0s;
            animation-fill-mode: forwards;

            @keyframes ThingSelect {
                0% {
                    margin-bottom: 0;
                }
                100% {
                    margin-bottom: 7.5em;
                }
            }

        }
        &.unselected {
            margin-bottom: 7.5em;
            animation: ThingUnselect 0.15s;
            animation-delay: 0.1s;
            animation-fill-mode: forwards;

            @keyframes ThingUnselect {
                0% {
                    margin-bottom: 7.5em;
                }
                100% {
                    margin-bottom: 0;
                }
            }
        }
        */
    }
}
