.things-tool {

    font-size: 0.9em;

    md-list {
        md-list-item,
        md-list-item .md-list-item-inner {
            min-height: 30px;
        }
    }

    .list-of-types {
        background: #a6a6a6;
        overflow-x: hidden;
        z-index: 100;

        .count {
            color: #767676;
            font-size: 1.2em;
            padding-right: 0.5em;
        }
    }

    .list-of-things {
        background: #d8d8d8;
        overflow-x: hidden;
        z-index: 200;
    }

    .details-of-thing {
        background: #fff;
        z-index: 300;
    }
}