md-toolbar.toolbar {

    position: absolute;
    z-index: 9;
    background-color: rgba(0,0,0,0.3) !important;

    .md-toolbar-tools {
        padding: 0;
    }

    .md-button {
        text-transform: none;
        font-size: 0.9em;
        span {
            padding: 0 0.3em;
        }
    }

}

md-toolbar.toolbar,
.md-open-menu-container {
    .avatar {
        border-radius: 5px;
        width: 36px;
        height: 36px;
    }
}

