.toolTabs {

    .md-tab {
        text-transform: none;
        font-size: 0.8em;
        margin-left: 0;
        margin-right: 0;
        padding-left: 1em;
        padding-right: 1em;
    }

    md-ink-bar {
        height: 0.05em;
        background: #3f51b5 !important;
    }

    md-tab-content {
        background: #eaeaea;
    }

    md-tabs-wrapper {
    }

    md-icon {
        height: 1.5em;
        margin-right: 0.7em
    }

    md-tab-item.md-active {

    }
}