md-toolbar.toolbar {

    //position: absolute;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.3) !important;
    height: 70px;

    .md-toolbar-tools {
        padding: 0;
    }

    md-icon {
        color: #fff;
    }

    button.md-button {

        height: 50px;
        width: 50px;
        margin-right: 0;
        margin-left: 0;

        md-icon {
            height: 30px;
            margin-right: 0.5em;
        }
        &.md-icon-button {

            width: 50px;
            md-icon {
                height: 30px;
                width: auto;
            }
        }
    }

    .story-menu-button {
        position: relative;
        right: 0.5em;
    }

    .main-menu-button {
    }
}

.story-menu {
    .md-alt-text {
        position: absolute;
        right: 1em;
        display: block;
    }

    md-toolbar {
        background: #000;
        height: 50px;
        min-height: 50px;

        .md-toolbar-tools {
            padding: 0;
            height: 50px;
            max-height: 50px;
        }
    }

    .avatar {
        width: 38px;
        height: 38px;
        border-radius: 50%;
        margin-top: 5px;
        margin-right: 10px;
        margin-left: -5px;
    }
}

