user-choice {

    display: block;
    text-align: center;
    margin: 0.5em 5em 10em 5em;

    .isMobileWidth & {
        margin: 0.5em 0.5em 10em 0.5em;
        font-size: 1.2em;
    }

    h3 {
        font-size: 1.4em;
        margin-bottom: 0.5em;
        font-weight: 400;
        text-align: center;
        color: #fff;

        text-shadow: 1px 1px 5px rgba(0, 0, 0, 1);

    }

}
