user-input {
    .inputContainer {
        padding-top: 5px;
    }

    md-autocomplete {
        background-color: rgba(0, 3, 99, 0.06);
    }

    form {
        margin: 0;
        padding: 0 10px;

        .executeButton {
            min-width: 60px;

            button {
                background-color: #017E00 !important;

                md-icon {
                    width: 20px;
                    height: 20px;
                    padding-left: 4px;
                }
            }
        }


    }
}

.md-autocomplete-suggestions {
    li {
        height: 60px !important;
        line-height: normal;
        font-size: 1em;
    }
    .autocomplete-match {
        margin: 0;
        padding: 10px 10px 0 0;
        font-family: 'Source Sans Pro', sans-serif;

        .autocomplete-command {
            color: #4444DD;
            font-weight: bold;
            margin: 0 0 3px 0;
            padding: 0;
        }
        .autocomplete-description {
            font-size: 0.9em;
            margin: 0;
            padding: 0;
            color: #222;
        }
    }
}
