user-input {

    form {
        margin: 0px;
        padding: 0px 20px;

        .executeButton {
            min-width: 60px;

            button {
                background-color: #017E00 !important;

                md-icon {
                    width: 20px;
                    height: 20px;
                    padding-left: 4px;
                }
            }
        }

        textarea {
            font-size: 1.3em;

            &:focus {
                background-color: #fff;
                padding-left: 5px;
            }
        }

    }
}

