wallpaper {
    display: block;

    position: absolute;
    top: -10px;
    left: -10px;
    height: 100%;
    width: 100%;
    padding: 0;

    background-repeat: no-repeat;
    background-position: center center;
    // TOTO: User mixin for vendor prefix
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

    filter: blur(4px);
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);


    .mask {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;

        background: rgba(0, 0, 0, 0.2);

    }

}
