@font-face {
  font-family: 'Halant';
  font-weight: 300;
  font-style: normal;
  src: url('../fonts/Halant-300/Halant-300.eot');
  src: url('../fonts/Halant-300/Halant-300.eot?#iefix') format('embedded-opentype'),
       local('Halant Light'),
       local('Halant-300'),
       url('../fonts/Halant-300/Halant-300.woff2') format('woff2'),
       url('../fonts/Halant-300/Halant-300.woff') format('woff'),
       url('../fonts/Halant-300/Halant-300.ttf') format('truetype'),
       url('../fonts/Halant-300/Halant-300.svg#Halant') format('svg');
}

@font-face {
  font-family: 'Halant';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Halant-regular/Halant-regular.eot');
  src: url('../fonts/Halant-regular/Halant-regular.eot?#iefix') format('embedded-opentype'),
       local('Halant'),
       local('Halant-regular'),
       url('../fonts/Halant-regular/Halant-regular.woff2') format('woff2'),
       url('../fonts/Halant-regular/Halant-regular.woff') format('woff'),
       url('../fonts/Halant-regular/Halant-regular.ttf') format('truetype'),
       url('../fonts/Halant-regular/Halant-regular.svg#Halant') format('svg');
}

@font-face {
  font-family: 'Halant';
  font-weight: 500;
  font-style: normal;
  src: url('../fonts/Halant-500/Halant-500.eot');
  src: url('../fonts/Halant-500/Halant-500.eot?#iefix') format('embedded-opentype'),
       local('Halant Medium'),
       local('Halant-500'),
       url('../fonts/Halant-500/Halant-500.woff2') format('woff2'),
       url('../fonts/Halant-500/Halant-500.woff') format('woff'),
       url('../fonts/Halant-500/Halant-500.ttf') format('truetype'),
       url('../fonts/Halant-500/Halant-500.svg#Halant') format('svg');
}

@font-face {
  font-family: 'Halant';
  font-weight: 600;
  font-style: normal;
  src: url('../fonts/Halant-600/Halant-600.eot');
  src: url('../fonts/Halant-600/Halant-600.eot?#iefix') format('embedded-opentype'),
       local('Halant Semibold'),
       local('Halant-600'),
       url('../fonts/Halant-600/Halant-600.woff2') format('woff2'),
       url('../fonts/Halant-600/Halant-600.woff') format('woff'),
       url('../fonts/Halant-600/Halant-600.ttf') format('truetype'),
       url('../fonts/Halant-600/Halant-600.svg#Halant') format('svg');
}

@font-face {
  font-family: 'Halant';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/Halant-700/Halant-700.eot');
  src: url('../fonts/Halant-700/Halant-700.eot?#iefix') format('embedded-opentype'),
       local('Halant Bold'),
       local('Halant-700'),
       url('../fonts/Halant-700/Halant-700.woff2') format('woff2'),
       url('../fonts/Halant-700/Halant-700.woff') format('woff'),
       url('../fonts/Halant-700/Halant-700.ttf') format('truetype'),
       url('../fonts/Halant-700/Halant-700.svg#Halant') format('svg');
}

